<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.FirebaseMapper">
    <insert id="register" parameterType="FirebaseToken">
        INSERT INTO TOKEN (id, token, web, rdate) VALUES (TOKEN_SEQ.NEXTVAL, #{token}, #{web}, SYSDATE)
    </insert>
    <select id="findByToken" resultType="FirebaseToken">
        SELECT * FROM TOKEN WHERE TOKEN = #{token}
    </select>
    <select id="findAllTokens" resultType="FirebaseToken">
        SELECT * FROM TOKEN
    </select>
    <select id="findAllChrome" resultType="FirebaseToken">
        SELECT * FROM TOKEN WHERE web = 'chrome'
    </select>
</mapper>