<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.MatchMapper">

    <insert id="matchInserted" parameterType="Match">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT match_seq.CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO MATCH (id,member_id,mate_id,start_date,end_date, service, area, object_gender, object_birth, status, price,payment,pay_date)
        VALUES(match_seq.NEXTVAL,#{memberId},null,#{startDate},#{endDate},#{service},#{area},#{objectGender},#{objectBirth},'매칭대기',null,null,null)
    </insert>

   <update id="update" parameterType="Match">
       UPDATE MATCH
       SET mate_id = #{mateId}, status=#{status}
       WHERE id = #{id}
   </update>

    <update id="updateafterpay" parameterType="Match">
        UPDATE MATCH
        SET status=#{status},price=#{price}, payment=#{payment}, pay_date=#{payDate}
        WHERE id = #{id}
    </update>

    <select id="select" parameterType="Integer" resultType="Match">
        SELECT * FROM Match WHERE id=#{id}
    </select>

    <select id="findByMemberId" resultType="MatchImg">
        SELECT h.ID,
               h.MATE_ID,
               h.START_DATE,
               h.END_DATE,
               h.SERVICE,
               h.AREA,
               h.OBJECT_GENDER,
               h.OBJECT_BIRTH,
               h.STATUS,
               h.PRICE,
               h.PAYMENT,
               h.PAY_DATE,
               e.img AS mateImg,
               e.NAME AS mateName,
               COALESCE(mr.mateRate, 0) AS mateRate
        FROM MATCH h
                 LEFT JOIN MATE e ON h.MATE_ID = e.ID
                 LEFT JOIN (
            SELECT MATE_ID, AVG(RATE) AS mateRate
            FROM MATE_REVIEW
            GROUP BY MATE_ID
        ) mr ON mr.MATE_ID = h.MATE_ID
        WHERE h.member_id=#{memberId}
        ORDER BY h.ID
    </select>

<!--    <select id="findByMemberId" resultType="MatchImg">-->
<!--        SELECT DISTINCT h.ID, h.MATE_ID, h.START_DATE, h.END_DATE, h.SERVICE, h.AREA,-->
<!--        h.OBJECT_GENDER, h.OBJECT_BIRTH, h.STATUS, h.PRICE, h.PAYMENT, h.PAY_DATE,-->
<!--        e.img AS mateImg, e.NAME AS mateName, mr.Rate AS mateRate-->
<!--        FROM MATCH h-->
<!--        LEFT JOIN Mate e ON e.ID = h.MATE_ID-->
<!--        LEFT JOIN MATE_REVIEW mr ON mr.MATE_ID = h.MATE_ID-->
<!--        WHERE h.member_id=#{memberId}-->
<!--        ORDER BY h.id-->
<!--    </select>-->

    <select id="findByMateId" resultType="Match">
        SELECT id,
        mate_id,
        start_date,
        end_date,
        service,
        area,
        object_gender,
        object_birth,
        status
        FROM MATCH
        WHERE mate_id=#{mateId}
        ORDER BY id
    </select>

</mapper>
