<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.MateMapper">
    <insert id="insert" parameterType="mate">
        INSERT INTO mate (id, email, name, password, job_period, license, valid)
        VALUES (MATE_SEQ.NEXTVAL, #{email}, #{name}, #{password}, #{jobPeriod}, #{license}, 1)
    </insert>
    <update id="update" parameterType="mate">
        UPDATE mate SET img=#{img}, job_period=#{jobPeriod}, license=#{license}, area=#{area} WHERE email=#{email}
    </update>
    <select id="select" parameterType="String" resultType="mate">
        SELECT * FROM mate WHERE email=#{email}
    </select>

    <select id="selectall" resultType="mate">
        SELECT * FROM mate
    </select>

    <update id="delete" parameterType="String">
        UPDATE mate SET valid=0 WHERE id=#{id}
    </update>
</mapper>
