.div-chats {
    height: 500px;
}

.chat-content {
    height: 500px;
    overflow-y: scroll;
}

.line {
    margin-top: 10px;
    display: flex;
}

.chat-box {
    padding: 5px;
    max-width: 50%;
}

.mine {
    margin-left: auto;
}